.signInPage {
  width: 100%;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerContainer {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  min-width: 100%;
}
.singInInput {
  position: relative;
  left: 0 !important;
  right: 0 !important;
  width: 85% !important;
}
